## EV10AQ190########################

NET "clk_in_60M" LOC = L23 | IOSTANDARD = LVCMOS25 ;

NET "AD1_SPI_MOSI" LOC = T29 |IOSTANDARD = LVCMOS25 | DRIVE = 12 | SLEW = SLOW;
NET "AD1_SPI_MISO" LOC = V29 | IOSTANDARD = LVCMOS25 ;
NET "AD1_SPI_SCLK" LOC = V28 | IOSTANDARD = LVCMOS25 | DRIVE = 12 | SLEW = SLOW;
NET "AD1_SPI_CSn" LOC = W29  | IOSTANDARD = LVCMOS25 | DRIVE = 12 | SLEW = SLOW;
NET "AD1_SPI_RSTn" LOC = Y29 | IOSTANDARD = LVCMOS25 | DRIVE = 12 | SLEW = SLOW;
NET "AD1_SYNCP" LOC = Y32   | IOSTANDARD = LVDS_25 ;
NET "AD1_SYNCN" LOC = Y31   | IOSTANDARD = LVDS_25 ;

NET "AD1_AP[0]" LOC = AN32  | IOSTANDARD = LVDS_25;
NET "AD1_AN[0]" LOC = AM32  | IOSTANDARD = LVDS_25;
NET "AD1_AP[1]" LOC = AP32  | IOSTANDARD = LVDS_25;
NET "AD1_AN[1]" LOC = AP33  | IOSTANDARD = LVDS_25;
NET "AD1_AP[2]" LOC = AL30  | IOSTANDARD = LVDS_25;
NET "AD1_AN[2]" LOC = AM31  | IOSTANDARD = LVDS_25;
NET "AD1_AP[3]" LOC = AM33  | IOSTANDARD = LVDS_25;
NET "AD1_AN[3]" LOC = AL33  | IOSTANDARD = LVDS_25;
NET "AD1_AP[4]" LOC = AL31  | IOSTANDARD = LVDS_25;
NET "AD1_AN[4]" LOC = AK31  | IOSTANDARD = LVDS_25;
NET "AD1_AP[5]" LOC = AL34  | IOSTANDARD = LVDS_25;
NET "AD1_AN[5]" LOC = AK34  | IOSTANDARD = LVDS_25;
NET "AD1_AP[6]" LOC = AK33  | IOSTANDARD = LVDS_25;
NET "AD1_AN[6]" LOC = AK32  | IOSTANDARD = LVDS_25;
NET "AD1_AP[7]" LOC = AJ34  | IOSTANDARD = LVDS_25;
NET "AD1_AN[7]" LOC = AH34  | IOSTANDARD = LVDS_25;
NET "AD1_AP[8]" LOC = AJ31  | IOSTANDARD = LVDS_25;
NET "AD1_AN[8]" LOC = AJ32  | IOSTANDARD = LVDS_25;
NET "AD1_AP[9]" LOC = AH33  | IOSTANDARD = LVDS_25;
NET "AD1_AN[9]" LOC = AH32  | IOSTANDARD = LVDS_25;


#NET "AD1_AOR_P" LOC = AG33  |   IOSTANDARD = LVDS_25; 
#NET "AD1_AOR_N" LOC = AG32  |   IOSTANDARD = LVDS_25;
NET "AD1_ADR_P" LOC = AF30  |   IOSTANDARD = LVDS_25;
NET "AD1_ADR_N" LOC = AG30  |   IOSTANDARD = LVDS_25;

NET "AD1_ADR_P" TNM_NET = AD1_ADR_P;
TIMESPEC TS_AD1_ADR_P = PERIOD "AD1_ADR_P"  625 MHz HIGH 50%;

NET "AD1_ADR_N" TNM_NET = AD1_ADR_N;
TIMESPEC TS_AD1_ADR_N = PERIOD "AD1_ADR_N" 625 MHz HIGH 50%;

#NET "AD1_BP[0]" LOC = G32   | IOSTANDARD = LVDS_25;
#NET "AD1_BN[0]" LOC = H32   | IOSTANDARD = LVDS_25;
#NET "AD1_BP[1]" LOC = E34   | IOSTANDARD = LVDS_25;
#NET "AD1_BN[1]" LOC = F34   | IOSTANDARD = LVDS_25;
#NET "AD1_BP[2]" LOC = J31   | IOSTANDARD = LVDS_25;
#NET "AD1_BN[2]" LOC = J32   | IOSTANDARD = LVDS_25;
#NET "AD1_BP[3]" LOC = E32   | IOSTANDARD = LVDS_25;
#NET "AD1_BN[3]" LOC = E33   | IOSTANDARD = LVDS_25;
#NET "AD1_BP[4]" LOC = K32   | IOSTANDARD = LVDS_25;
#NET "AD1_BN[4]" LOC = K31   | IOSTANDARD = LVDS_25;
#NET "AD1_BP[5]" LOC = H34   | IOSTANDARD = LVDS_25;
#NET "AD1_BN[5]" LOC = H33   | IOSTANDARD = LVDS_25;
#NET "AD1_BP[6]" LOC = M31   | IOSTANDARD = LVDS_25;
#NET "AD1_BN[6]" LOC = L31   | IOSTANDARD = LVDS_25;
#NET "AD1_BP[7]" LOC = K33   | IOSTANDARD = LVDS_25;
#NET "AD1_BN[7]" LOC = J34   | IOSTANDARD = LVDS_25;
#NET "AD1_BP[8]" LOC = M30   | IOSTANDARD = LVDS_25;
#NET "AD1_BN[8]" LOC = N30   | IOSTANDARD = LVDS_25;
#NET "AD1_BP[9]" LOC = K34   | IOSTANDARD = LVDS_25;
#NET "AD1_BN[9]" LOC = L34   | IOSTANDARD = LVDS_25;
#
#NET "AD1_BOR_P" LOC = N32   |IOSTANDARD = LVDS_25 ;
#NET "AD1_BOR_N" LOC = P32   |IOSTANDARD = LVDS_25 ;
#NET "AD1_BDR_P" LOC = F33   |IOSTANDARD = LVDS_25 ;
#NET "AD1_BDR_N" LOC = G33   |IOSTANDARD = LVDS_25 ;
#
#NET "AD1_CP[0]" LOC = W31  | IOSTANDARD = LVDS_25 ;
#NET "AD1_CN[0]" LOC = W32  | IOSTANDARD = LVDS_25 ;
#NET "AD1_CP[1]" LOC = V32  | IOSTANDARD = LVDS_25 ;
#NET "AD1_CN[1]" LOC = V33  | IOSTANDARD = LVDS_25 ;
#NET "AD1_CP[2]" LOC = U31  | IOSTANDARD = LVDS_25 ;
#NET "AD1_CN[2]" LOC = U30  | IOSTANDARD = LVDS_25 ;
#NET "AD1_CP[3]" LOC = T33  | IOSTANDARD = LVDS_25 ;
#NET "AD1_CN[3]" LOC = T34  | IOSTANDARD = LVDS_25 ;
#NET "AD1_CP[4]" LOC = U33  | IOSTANDARD = LVDS_25 ;
#NET "AD1_CN[4]" LOC = U32  | IOSTANDARD = LVDS_25 ;
#NET "AD1_CP[5]" LOC = R33  | IOSTANDARD = LVDS_25 ;
#NET "AD1_CN[5]" LOC = R34  | IOSTANDARD = LVDS_25 ;
#NET "AD1_CP[6]" LOC = T30  | IOSTANDARD = LVDS_25 ;
#NET "AD1_CN[6]" LOC = T31  | IOSTANDARD = LVDS_25 ;
#NET "AD1_CP[7]" LOC = N34  | IOSTANDARD = LVDS_25 ;
#NET "AD1_CN[7]" LOC = P34  | IOSTANDARD = LVDS_25 ;
#NET "AD1_CP[8]" LOC = R31  | IOSTANDARD = LVDS_25 ;
#NET "AD1_CN[8]" LOC = R32  | IOSTANDARD = LVDS_25 ;
#NET "AD1_CP[9]" LOC = N33  | IOSTANDARD = LVDS_25 ;
#NET "AD1_CN[9]" LOC = M33  | IOSTANDARD = LVDS_25 ;
#
#NET "AD1_CDR_P" LOC = V30   | IOSTANDARD = LVDS_25;
#NET "AD1_CDR_N" LOC = W30   | IOSTANDARD = LVDS_25;
#NET "AD1_COR_P" LOC = P31   | IOSTANDARD = LVDS_25;
#NET "AD1_COR_N" LOC = P30   | IOSTANDARD = LVDS_25;
#
#
#NET "AD1_DP[0]" LOC = AB30  | IOSTANDARD = LVDS_25;
#NET "AD1_DN[0]" LOC = AB31  | IOSTANDARD = LVDS_25;
#NET "AD1_DP[1]" LOC = Y33   | IOSTANDARD = LVDS_25;
#NET "AD1_DN[1]" LOC = Y34   | IOSTANDARD = LVDS_25;
#NET "AD1_DP[2]" LOC = AB32  | IOSTANDARD = LVDS_25;
#NET "AD1_DN[2]" LOC = AC32  | IOSTANDARD = LVDS_25;
#NET "AD1_DP[3]" LOC = AA34  | IOSTANDARD = LVDS_25;
#NET "AD1_DN[3]" LOC = AA33  | IOSTANDARD = LVDS_25;
#NET "AD1_DP[4]" LOC = AD32  | IOSTANDARD = LVDS_25;
#NET "AD1_DN[4]" LOC = AE32  | IOSTANDARD = LVDS_25;
#NET "AD1_DP[5]" LOC = AC33  | IOSTANDARD = LVDS_25;
#NET "AD1_DN[5]" LOC = AB33  | IOSTANDARD = LVDS_25;
#NET "AD1_DP[6]" LOC = AE31  | IOSTANDARD = LVDS_25;
#NET "AD1_DN[6]" LOC = AD31  | IOSTANDARD = LVDS_25;
#NET "AD1_DP[7]" LOC = AD34  | IOSTANDARD = LVDS_25;
#NET "AD1_DN[7]" LOC = AC34  | IOSTANDARD = LVDS_25;
#NET "AD1_DP[8]" LOC = AG31  | IOSTANDARD = LVDS_25;
#NET "AD1_DN[8]" LOC = AF31  | IOSTANDARD = LVDS_25;
#NET "AD1_DP[9]" LOC = AE33  | IOSTANDARD = LVDS_25;
#NET "AD1_DN[9]" LOC = AF33  | IOSTANDARD = LVDS_25;
#
#NET "AD1_DOR_P" LOC = AE34  |IOSTANDARD = LVDS_25;
#NET "AD1_DOR_N" LOC = AF34  |IOSTANDARD = LVDS_25;
#NET "AD1_DDR_P" LOC = V34   |IOSTANDARD = LVDS_25;
#NET "AD1_DDR_N" LOC = W34   |IOSTANDARD = LVDS_25;
