# SYSTEM CLOCK#####################
NET "CLK_IN_60M" LOC = L23;
NET "CLK_IN_60M" IOSTANDARD = LVCMOS25;
#AD9739-1#########################
NET "DA_DCO_P" LOC = B31;
NET "DA_DCO_N" LOC = A31;
NET "DA1_DCI_P" LOC = C29;
NET "DA1_DCI_N" LOC = D29;

NET "DA_DCO_P" IOSTANDARD = LVDS_25;
NET "DA_DCO_N" IOSTANDARD = LVDS_25;
NET "DA1_DCI_P" IOSTANDARD = LVDS_25;
NET "DA1_DCI_N" IOSTANDARD = LVDS_25;

#将时钟端接100欧姆电阻#########################
NET "DA_DCO_P" DIFF_TERM=TRUE;
NET "DA_DCO_N" DIFF_TERM=TRUE;

NET "DA1_RST" LOC = B34;
#NET "DA1_IRQ" LOC = B33;
NET "DA1_SPI_SDIO" LOC = A33;
NET "DA1_SPI_CSn" LOC = B32;
NET "DA1_SPI_SDO" LOC = C33;
NET "DA1_SPI_SCLK" LOC = C34;

NET "DA1_SPI_CSn" IOSTANDARD = LVCMOS25;
NET "DA1_SPI_CSn" DRIVE = 12;
NET "DA1_SPI_CSn" SLEW = SLOW;
NET "DA1_RST" IOSTANDARD = LVCMOS25;
NET "DA1_RST" DRIVE = 12;
NET "DA1_RST" SLEW = SLOW;
NET "DA1_SPI_SCLK" IOSTANDARD = LVCMOS25;
NET "DA1_SPI_SCLK" DRIVE = 12;
NET "DA1_SPI_SCLK" SLEW = SLOW;
NET "DA1_SPI_SDO" IOSTANDARD = LVCMOS25;
NET "DA1_SPI_SDO" DRIVE = 12;
NET "DA1_SPI_SDO" SLEW = SLOW;
NET "DA1_SPI_SDIO" IOSTANDARD = LVCMOS25;
NET "DA1_SPI_SDIO" DRIVE = 12;
NET "DA1_SPI_SDIO" SLEW = SLOW;
#NET "DA1_IRQ" IOSTANDARD = LVCMOS25;
#NET "DA1_IRQ" DRIVE = 12;
#NET "DA1_IRQ" SLEW = SLOW;
NET "DA1_DB0_N[0]" LOC = A25;
NET "DA1_DB0_P[0]" LOC = B25;
NET "DA1_DB0_N[1]" LOC = A26;
NET "DA1_DB0_P[1]" LOC = B26;
NET "DA1_DB0_N[2]" LOC = C27;
NET "DA1_DB0_P[2]" LOC = B27;
NET "DA1_DB0_P[3]" LOC = C28;
NET "DA1_DB0_N[3]" LOC = B28;
NET "DA1_DB0_P[4]" LOC = C22;
NET "DA1_DB0_N[4]" LOC = D22;
NET "DA1_DB0_P[5]" LOC = C24;
NET "DA1_DB0_N[5]" LOC = C25;
NET "DA1_DB0_P[6]" LOC = D24;
NET "DA1_DB0_N[6]" LOC = E24;
NET "DA1_DB0_P[7]" LOC = D25;
NET "DA1_DB0_N[7]" LOC = D26;
NET "DA1_DB0_P[8]" LOC = D27;
NET "DA1_DB0_N[8]" LOC = E27;
NET "DA1_DB0_P[9]" LOC = C30;
NET "DA1_DB0_N[9]" LOC = D30;
NET "DA1_DB0_P[10]" LOC = D31;
NET "DA1_DB0_N[10]" LOC = D32;
NET "DA1_DB0_P[11]" LOC = F31;
NET "DA1_DB0_N[11]" LOC = E31;
NET "DA1_DB0_P[12]" LOC = A28;
NET "DA1_DB0_N[12]" LOC = A29;
NET "DA1_DB0_P[13]" LOC = A30;
NET "DA1_DB0_N[13]" LOC = B30;

NET "DA1_DB0_P[0]" IOSTANDARD = LVDS_25;
NET "DA1_DB0_P[1]" IOSTANDARD = LVDS_25;
NET "DA1_DB0_P[2]" IOSTANDARD = LVDS_25;
NET "DA1_DB0_P[3]" IOSTANDARD = LVDS_25;
NET "DA1_DB0_P[4]" IOSTANDARD = LVDS_25;
NET "DA1_DB0_P[5]" IOSTANDARD = LVDS_25;
NET "DA1_DB0_P[6]" IOSTANDARD = LVDS_25;
NET "DA1_DB0_P[7]" IOSTANDARD = LVDS_25;
NET "DA1_DB0_P[8]" IOSTANDARD = LVDS_25;
NET "DA1_DB0_P[9]" IOSTANDARD = LVDS_25;
NET "DA1_DB0_P[10]" IOSTANDARD = LVDS_25;
NET "DA1_DB0_P[11]" IOSTANDARD = LVDS_25;
NET "DA1_DB0_P[12]" IOSTANDARD = LVDS_25;
NET "DA1_DB0_P[13]" IOSTANDARD = LVDS_25;
NET "DA1_DB0_N[0]" IOSTANDARD = LVDS_25;
NET "DA1_DB0_N[1]" IOSTANDARD = LVDS_25;
NET "DA1_DB0_N[2]" IOSTANDARD = LVDS_25;
NET "DA1_DB0_N[3]" IOSTANDARD = LVDS_25;
NET "DA1_DB0_N[4]" IOSTANDARD = LVDS_25;
NET "DA1_DB0_N[5]" IOSTANDARD = LVDS_25;
NET "DA1_DB0_N[6]" IOSTANDARD = LVDS_25;
NET "DA1_DB0_N[7]" IOSTANDARD = LVDS_25;
NET "DA1_DB0_N[8]" IOSTANDARD = LVDS_25;
NET "DA1_DB0_N[9]" IOSTANDARD = LVDS_25;
NET "DA1_DB0_N[10]" IOSTANDARD = LVDS_25;
NET "DA1_DB0_N[11]" IOSTANDARD = LVDS_25;
NET "DA1_DB0_N[12]" IOSTANDARD = LVDS_25;
NET "DA1_DB0_N[13]" IOSTANDARD = LVDS_25;

NET "DA1_DB1_N[0]" LOC = H20;
NET "DA1_DB1_P[0]" LOC = H19;
NET "DA1_DB1_P[1]" LOC = F21;
NET "DA1_DB1_N[1]" LOC = G20;
NET "DA1_DB1_P[2]" LOC = G21;
NET "DA1_DB1_N[2]" LOC = G22;
NET "DA1_DB1_P[3]" LOC = E22;
NET "DA1_DB1_N[3]" LOC = E23;
NET "DA1_DB1_P[4]" LOC = F25;
NET "DA1_DB1_N[4]" LOC = G25;
NET "DA1_DB1_P[5]" LOC = E26;
NET "DA1_DB1_N[5]" LOC = F26;
NET "DA1_DB1_P[6]" LOC = G26;
NET "DA1_DB1_N[6]" LOC = G27;
NET "DA1_DB1_P[7]" LOC = F28;
NET "DA1_DB1_N[7]" LOC = E28;
NET "DA1_DB1_P[8]" LOC = E29;
NET "DA1_DB1_N[8]" LOC = F29;
NET "DA1_DB1_P[9]" LOC = F30;
NET "DA1_DB1_N[9]" LOC = G30;
NET "DA1_DB1_P[10]" LOC = H22;
NET "DA1_DB1_N[10]" LOC = J22;
NET "DA1_DB1_P[11]" LOC = H27;
NET "DA1_DB1_N[11]" LOC = G28;
NET "DA1_DB1_P[12]" LOC = H28;
NET "DA1_DB1_N[12]" LOC = H29;
NET "DA1_DB1_P[13]" LOC = G31;
NET "DA1_DB1_N[13]" LOC = H30;

NET "DA1_DB1_P[0]" IOSTANDARD = LVDS_25;
NET "DA1_DB1_P[1]" IOSTANDARD = LVDS_25;
NET "DA1_DB1_P[2]" IOSTANDARD = LVDS_25;
NET "DA1_DB1_P[3]" IOSTANDARD = LVDS_25;
NET "DA1_DB1_P[4]" IOSTANDARD = LVDS_25;
NET "DA1_DB1_P[5]" IOSTANDARD = LVDS_25;
NET "DA1_DB1_P[6]" IOSTANDARD = LVDS_25;
NET "DA1_DB1_P[7]" IOSTANDARD = LVDS_25;
NET "DA1_DB1_P[8]" IOSTANDARD = LVDS_25;
NET "DA1_DB1_P[9]" IOSTANDARD = LVDS_25;
NET "DA1_DB1_P[10]" IOSTANDARD = LVDS_25;
NET "DA1_DB1_P[11]" IOSTANDARD = LVDS_25;
NET "DA1_DB1_P[12]" IOSTANDARD = LVDS_25;
NET "DA1_DB1_P[13]" IOSTANDARD = LVDS_25;
NET "DA1_DB1_N[0]" IOSTANDARD = LVDS_25;
NET "DA1_DB1_N[1]" IOSTANDARD = LVDS_25;
NET "DA1_DB1_N[2]" IOSTANDARD = LVDS_25;
NET "DA1_DB1_N[3]" IOSTANDARD = LVDS_25;
NET "DA1_DB1_N[4]" IOSTANDARD = LVDS_25;
NET "DA1_DB1_N[5]" IOSTANDARD = LVDS_25;
NET "DA1_DB1_N[6]" IOSTANDARD = LVDS_25;
NET "DA1_DB1_N[7]" IOSTANDARD = LVDS_25;
NET "DA1_DB1_N[8]" IOSTANDARD = LVDS_25;
NET "DA1_DB1_N[9]" IOSTANDARD = LVDS_25;
NET "DA1_DB1_N[10]" IOSTANDARD = LVDS_25;
NET "DA1_DB1_N[11]" IOSTANDARD = LVDS_25;
NET "DA1_DB1_N[12]" IOSTANDARD = LVDS_25;
NET "DA1_DB1_N[13]" IOSTANDARD = LVDS_25;


## AD9739-2##############################
NET "DA2_RST" LOC = G17;
#NET "DA2_IRQ" LOC = H17;
NET "DA2_SPI_SDIO" LOC = G18;
NET "DA2_SPI_CSn" LOC = H18;
NET "DA2_SPI_SDO" LOC = F19;
NET "DA2_SPI_SCLK" LOC = F20;

NET "DA2_SPI_SCLK" IOSTANDARD = LVCMOS25;
NET "DA2_SPI_SCLK" DRIVE = 12;
NET "DA2_SPI_SCLK" SLEW = SLOW;
NET "DA2_SPI_SDO" IOSTANDARD = LVCMOS25;
NET "DA2_SPI_SDO" DRIVE = 12;
NET "DA2_SPI_SDO" SLEW = SLOW;
NET "DA2_SPI_CSn" IOSTANDARD = LVCMOS25;
NET "DA2_SPI_CSn" DRIVE = 12;
NET "DA2_SPI_CSn" SLEW = SLOW;
NET "DA2_SPI_SDIO" IOSTANDARD = LVCMOS25;
NET "DA2_SPI_SDIO" DRIVE = 12;
NET "DA2_SPI_SDIO" SLEW = SLOW;
#NET "DA2_IRQ" IOSTANDARD = LVCMOS25;
#NET "DA2_IRQ" DRIVE = 12;
#NET "DA2_IRQ" SLEW = SLOW;
NET "DA2_RST" IOSTANDARD = LVCMOS25;
NET "DA2_RST" DRIVE = 12;
NET "DA2_RST" SLEW = SLOW;

NET "DA2_DCI_N" LOC = L16;
NET "DA2_DCI_P" LOC = K16;
NET "DA2_DCI_P" IOSTANDARD = LVDS_25;
NET "DA2_DCI_N" IOSTANDARD = LVDS_25;


NET "DA2_DB0_P[0]" LOC = A11;
NET "DA2_DB0_N[0]" LOC = B11;
NET "DA2_DB0_P[1]" LOC = B12;
NET "DA2_DB0_N[1]" LOC = B13;
NET "DA2_DB0_P[2]" LOC = A13;
NET "DA2_DB0_N[2]" LOC = A14;
NET "DA2_DB0_P[3]" LOC = A15;
NET "DA2_DB0_N[3]" LOC = B15;
NET "DA2_DB0_P[4]" LOC = A16;
NET "DA2_DB0_N[4]" LOC = B16;
NET "DA2_DB0_P[5]" LOC = C17;
NET "DA2_DB0_N[5]" LOC = B17;
NET "DA2_DB0_P[6]" LOC = A18;
NET "DA2_DB0_N[6]" LOC = A19;
NET "DA2_DB0_P[7]" LOC = A20;
NET "DA2_DB0_N[7]" LOC = A21;
NET "DA2_DB0_P[8]" LOC = B21;
NET "DA2_DB0_N[8]" LOC = B22;
NET "DA2_DB0_P[9]" LOC = B23;
NET "DA2_DB0_N[9]" LOC = C23;
NET "DA2_DB0_P[10]" LOC = A23;
NET "DA2_DB0_N[10]" LOC = A24;
NET "DA2_DB0_N[11]" LOC = D19;
NET "DA2_DB0_P[11]" LOC = E19;
NET "DA2_DB0_P[12]" LOC = B20;
NET "DA2_DB0_N[12]" LOC = C19;
NET "DA2_DB0_P[13]" LOC = C20;
NET "DA2_DB0_N[13]" LOC = D20;

NET "DA2_DB0_P[0]" IOSTANDARD = LVDS_25;
NET "DA2_DB0_P[1]" IOSTANDARD = LVDS_25;
NET "DA2_DB0_P[2]" IOSTANDARD = LVDS_25;
NET "DA2_DB0_P[3]" IOSTANDARD = LVDS_25;
NET "DA2_DB0_P[4]" IOSTANDARD = LVDS_25;
NET "DA2_DB0_P[5]" IOSTANDARD = LVDS_25;
NET "DA2_DB0_P[6]" IOSTANDARD = LVDS_25;
NET "DA2_DB0_P[7]" IOSTANDARD = LVDS_25;
NET "DA2_DB0_P[8]" IOSTANDARD = LVDS_25;
NET "DA2_DB0_P[9]" IOSTANDARD = LVDS_25;
NET "DA2_DB0_P[10]" IOSTANDARD = LVDS_25;
NET "DA2_DB0_P[11]" IOSTANDARD = LVDS_25;
NET "DA2_DB0_P[12]" IOSTANDARD = LVDS_25;
NET "DA2_DB0_P[13]" IOSTANDARD = LVDS_25;
NET "DA2_DB0_N[0]" IOSTANDARD = LVDS_25;
NET "DA2_DB0_N[1]" IOSTANDARD = LVDS_25;
NET "DA2_DB0_N[2]" IOSTANDARD = LVDS_25;
NET "DA2_DB0_N[3]" IOSTANDARD = LVDS_25;
NET "DA2_DB0_N[4]" IOSTANDARD = LVDS_25;
NET "DA2_DB0_N[5]" IOSTANDARD = LVDS_25;
NET "DA2_DB0_N[6]" IOSTANDARD = LVDS_25;
NET "DA2_DB0_N[7]" IOSTANDARD = LVDS_25;
NET "DA2_DB0_N[8]" IOSTANDARD = LVDS_25;
NET "DA2_DB0_N[9]" IOSTANDARD = LVDS_25;
NET "DA2_DB0_N[10]" IOSTANDARD = LVDS_25;
NET "DA2_DB0_N[11]" IOSTANDARD = LVDS_25;
NET "DA2_DB0_N[12]" IOSTANDARD = LVDS_25;
NET "DA2_DB0_N[13]" IOSTANDARD = LVDS_25;

NET "DA2_DB1_P[0]" LOC = D11;
NET "DA2_DB1_N[0]" LOC = E11;
NET "DA2_DB1_P[1]" LOC = D12;
NET "DA2_DB1_N[1]" LOC = E12;
NET "DA2_DB1_P[2]" LOC = C13;
NET "DA2_DB1_N[2]" LOC = C12;
NET "DA2_DB1_P[3]" LOC = D14;
NET "DA2_DB1_N[3]" LOC = C14;
NET "DA2_DB1_P[4]" LOC = D15;
NET "DA2_DB1_N[4]" LOC = C15;
NET "DA2_DB1_P[5]" LOC = E16;
NET "DA2_DB1_N[5]" LOC = D16;
NET "DA2_DB1_P[6]" LOC = E18;
NET "DA2_DB1_N[6]" LOC = D17;
NET "DA2_DB1_P[7]" LOC = B18;
NET "DA2_DB1_N[7]" LOC = C18;
NET "DA2_DB1_P[8]" LOC = G11;
NET "DA2_DB1_N[8]" LOC = F11;
NET "DA2_DB1_P[9]" LOC = E13;
NET "DA2_DB1_N[9]" LOC = F13;
NET "DA2_DB1_P[10]" LOC = F14;
NET "DA2_DB1_N[10]" LOC = E14;
NET "DA2_DB1_P[11]" LOC = G15;
NET "DA2_DB1_N[11]" LOC = F15;
NET "DA2_DB1_P[12]" LOC = F16;
NET "DA2_DB1_N[12]" LOC = G16;
NET "DA2_DB1_P[13]" LOC = F18;
NET "DA2_DB1_N[13]" LOC = E17;

NET "DA2_DB1_P[0]" IOSTANDARD = LVDS_25;
NET "DA2_DB1_P[1]" IOSTANDARD = LVDS_25;
NET "DA2_DB1_P[2]" IOSTANDARD = LVDS_25;
NET "DA2_DB1_P[3]" IOSTANDARD = LVDS_25;
NET "DA2_DB1_P[4]" IOSTANDARD = LVDS_25;
NET "DA2_DB1_P[5]" IOSTANDARD = LVDS_25;
NET "DA2_DB1_P[6]" IOSTANDARD = LVDS_25;
NET "DA2_DB1_P[7]" IOSTANDARD = LVDS_25;
NET "DA2_DB1_P[8]" IOSTANDARD = LVDS_25;
NET "DA2_DB1_P[9]" IOSTANDARD = LVDS_25;
NET "DA2_DB1_P[10]" IOSTANDARD = LVDS_25;
NET "DA2_DB1_P[11]" IOSTANDARD = LVDS_25;
NET "DA2_DB1_P[12]" IOSTANDARD = LVDS_25;
NET "DA2_DB1_P[13]" IOSTANDARD = LVDS_25;
NET "DA2_DB1_N[0]" IOSTANDARD = LVDS_25;
NET "DA2_DB1_N[1]" IOSTANDARD = LVDS_25;
NET "DA2_DB1_N[2]" IOSTANDARD = LVDS_25;
NET "DA2_DB1_N[3]" IOSTANDARD = LVDS_25;
NET "DA2_DB1_N[4]" IOSTANDARD = LVDS_25;
NET "DA2_DB1_N[5]" IOSTANDARD = LVDS_25;
NET "DA2_DB1_N[6]" IOSTANDARD = LVDS_25;
NET "DA2_DB1_N[7]" IOSTANDARD = LVDS_25;
NET "DA2_DB1_N[8]" IOSTANDARD = LVDS_25;
NET "DA2_DB1_N[9]" IOSTANDARD = LVDS_25;
NET "DA2_DB1_N[10]" IOSTANDARD = LVDS_25;
NET "DA2_DB1_N[11]" IOSTANDARD = LVDS_25;
NET "DA2_DB1_N[12]" IOSTANDARD = LVDS_25;
NET "DA2_DB1_N[13]" IOSTANDARD = LVDS_25;
## EV10AQ190########################
#NET "AD1_SPI_MOSI" LOC = T29;
#NET "AD1_SPI_MISO" LOC = V29;
#NET "AD1_SPI_SCLK" LOC = V28;
#NET "AD1_SPI_CSn" LOC = W29;
#NET "AD1_SPI_RSTn" LOC = Y29;
#NET "AD1_SYNCP" LOC = Y32;
#NET "AD1_SYNCN" LOC = Y31;
#
#NET "AD1_SPI_MOSI" IOSTANDARD = LVCMOS25;
#NET "AD1_SPI_MOSI" DRIVE = 12;
#NET "AD1_SPI_MOSI" SLEW = SLOW;
#NET "AD1_SPI_MISO" IOSTANDARD = LVCMOS25;
#NET "AD1_SPI_CSn" IOSTANDARD = LVCMOS25;
#NET "AD1_SPI_CSn" DRIVE = 12;
#NET "AD1_SPI_CSn" SLEW = SLOW;
#NET "AD1_SPI_SCLK" IOSTANDARD = LVCMOS25;
#NET "AD1_SPI_SCLK" DRIVE = 12;
#NET "AD1_SPI_SCLK" SLEW = SLOW;
#NET "AD1_SPI_RSTn" IOSTANDARD = LVCMOS25;
#NET "AD1_SPI_RSTn" DRIVE = 12;
#NET "AD1_SPI_RSTn" SLEW = SLOW;
#NET "AD1_SYNCP" IOSTANDARD = LVDS_25;
#NET "AD1_SYNCN" IOSTANDARD = LVDS_25;
#
#NET "AD1_AP[0]" LOC = AN32;
#NET "AD1_AN[0]" LOC = AM32;
#NET "AD1_AP[1]" LOC = AP32;
#NET "AD1_AN[1]" LOC = AP33;
#NET "AD1_AP[2]" LOC = AL30;
#NET "AD1_AN[2]" LOC = AM31;
#NET "AD1_AP[3]" LOC = AM33;
#NET "AD1_AN[3]" LOC = AL33;
#NET "AD1_AP[4]" LOC = AL31;
#NET "AD1_AN[4]" LOC = AK31;
#NET "AD1_AP[5]" LOC = AL34;
#NET "AD1_AN[5]" LOC = AK34;
#NET "AD1_AP[6]" LOC = AK33;
#NET "AD1_AN[6]" LOC = AK32;
#NET "AD1_AP[7]" LOC = AJ34;
#NET "AD1_AN[7]" LOC = AH34;
#NET "AD1_AP[8]" LOC = AJ31;
#NET "AD1_AN[8]" LOC = AJ32;
#NET "AD1_AP[9]" LOC = AH33;
#NET "AD1_AN[9]" LOC = AH32;
#
#NET "AD1_AP[0]" IOSTANDARD = LVDS_25;
#NET "AD1_AP[1]" IOSTANDARD = LVDS_25;
#NET "AD1_AP[2]" IOSTANDARD = LVDS_25;
#NET "AD1_AP[3]" IOSTANDARD = LVDS_25;
#NET "AD1_AP[4]" IOSTANDARD = LVDS_25;
#NET "AD1_AP[5]" IOSTANDARD = LVDS_25;
#NET "AD1_AP[6]" IOSTANDARD = LVDS_25;
#NET "AD1_AP[7]" IOSTANDARD = LVDS_25;
#NET "AD1_AP[8]" IOSTANDARD = LVDS_25;
#NET "AD1_AP[9]" IOSTANDARD = LVDS_25;
#NET "AD1_AN[0]" IOSTANDARD = LVDS_25;
#NET "AD1_AN[1]" IOSTANDARD = LVDS_25;
#NET "AD1_AN[2]" IOSTANDARD = LVDS_25;
#NET "AD1_AN[3]" IOSTANDARD = LVDS_25;
#NET "AD1_AN[4]" IOSTANDARD = LVDS_25;
#NET "AD1_AN[5]" IOSTANDARD = LVDS_25;
#NET "AD1_AN[6]" IOSTANDARD = LVDS_25;
#NET "AD1_AN[7]" IOSTANDARD = LVDS_25;
#NET "AD1_AN[8]" IOSTANDARD = LVDS_25;
#NET "AD1_AN[9]" IOSTANDARD = LVDS_25;
#
#NET "AD1_AOR_P" LOC = AG33;
#NET "AD1_AOR_N" LOC = AG32;
#NET "AD1_ADR_P" LOC = AF30;
#NET "AD1_ADR_N" LOC = AG30;
#NET "AD1_AOR_P" IOSTANDARD = LVDS_25;
#NET "AD1_AOR_N" IOSTANDARD = LVDS_25;
#NET "AD1_ADR_P" IOSTANDARD = LVDS_25;
#NET "AD1_ADR_N" IOSTANDARD = LVDS_25;
#
#NET "AD1_BP[0]" LOC = G32;
#NET "AD1_BN[0]" LOC = H32;
#NET "AD1_BP[1]" LOC = E34;
#NET "AD1_BN[1]" LOC = F34;
#NET "AD1_BP[2]" LOC = J31;
#NET "AD1_BN[2]" LOC = J32;
#NET "AD1_BP[3]" LOC = E32;
#NET "AD1_BN[3]" LOC = E33;
#NET "AD1_BP[4]" LOC = K32;
#NET "AD1_BN[4]" LOC = K31;
#NET "AD1_BP[5]" LOC = H34;
#NET "AD1_BN[5]" LOC = H33;
#NET "AD1_BP[6]" LOC = M31;
#NET "AD1_BN[6]" LOC = L31;
#NET "AD1_BP[7]" LOC = K33;
#NET "AD1_BN[7]" LOC = J34;
#NET "AD1_BP[8]" LOC = M30;
#NET "AD1_BN[8]" LOC = N30;
#NET "AD1_BP[9]" LOC = K34;
#NET "AD1_BN[9]" LOC = L34;
#
#NET "AD1_BP[0]" IOSTANDARD = LVDS_25;
#NET "AD1_BP[1]" IOSTANDARD = LVDS_25;
#NET "AD1_BP[2]" IOSTANDARD = LVDS_25;
#NET "AD1_BP[3]" IOSTANDARD = LVDS_25;
#NET "AD1_BP[4]" IOSTANDARD = LVDS_25;
#NET "AD1_BP[5]" IOSTANDARD = LVDS_25;
#NET "AD1_BP[6]" IOSTANDARD = LVDS_25;
#NET "AD1_BP[7]" IOSTANDARD = LVDS_25;
#NET "AD1_BP[8]" IOSTANDARD = LVDS_25;
#NET "AD1_BP[9]" IOSTANDARD = LVDS_25;
#NET "AD1_BN[0]" IOSTANDARD = LVDS_25;
#NET "AD1_BN[1]" IOSTANDARD = LVDS_25;
#NET "AD1_BN[2]" IOSTANDARD = LVDS_25;
#NET "AD1_BN[3]" IOSTANDARD = LVDS_25;
#NET "AD1_BN[4]" IOSTANDARD = LVDS_25;
#NET "AD1_BN[5]" IOSTANDARD = LVDS_25;
#NET "AD1_BN[6]" IOSTANDARD = LVDS_25;
#NET "AD1_BN[7]" IOSTANDARD = LVDS_25;
#NET "AD1_BN[8]" IOSTANDARD = LVDS_25;
#NET "AD1_BN[9]" IOSTANDARD = LVDS_25;
#
#NET "AD1_BOR_P" LOC = N32;
#NET "AD1_BOR_N" LOC = P32;
#NET "AD1_BDR_P" LOC = F33;
#NET "AD1_BDR_N" LOC = G33;
#NET "AD1_BOR_P" IOSTANDARD = LVDS_25;
#NET "AD1_BOR_N" IOSTANDARD = LVDS_25;
#NET "AD1_BDR_N" IOSTANDARD = LVDS_25;
#NET "AD1_BDR_P" IOSTANDARD = LVDS_25;
#
#NET "AD1_CP[0]" LOC = W31;
#NET "AD1_CN[0]" LOC = W32;
#NET "AD1_CP[1]" LOC = V32;
#NET "AD1_CN[1]" LOC = V33;
#NET "AD1_CP[2]" LOC = U31;
#NET "AD1_CN[2]" LOC = U30;
#NET "AD1_CP[3]" LOC = T33;
#NET "AD1_CN[3]" LOC = T34;
#NET "AD1_CP[4]" LOC = U33;
#NET "AD1_CN[4]" LOC = U32;
#NET "AD1_CP[5]" LOC = R33;
#NET "AD1_CN[5]" LOC = R34;
#NET "AD1_CP[6]" LOC = T30;
#NET "AD1_CN[6]" LOC = T31;
#NET "AD1_CP[7]" LOC = N34;
#NET "AD1_CN[7]" LOC = P34;
#NET "AD1_CP[8]" LOC = R31;
#NET "AD1_CN[8]" LOC = R32;
#NET "AD1_CP[9]" LOC = N33;
#NET "AD1_CN[9]" LOC = M33;
#
#
#NET "AD1_CP[0]" IOSTANDARD = LVDS_25;
#NET "AD1_CP[1]" IOSTANDARD = LVDS_25;
#NET "AD1_CP[2]" IOSTANDARD = LVDS_25;
#NET "AD1_CP[3]" IOSTANDARD = LVDS_25;
#NET "AD1_CP[4]" IOSTANDARD = LVDS_25;
#NET "AD1_CP[5]" IOSTANDARD = LVDS_25;
#NET "AD1_CP[6]" IOSTANDARD = LVDS_25;
#NET "AD1_CP[7]" IOSTANDARD = LVDS_25;
#NET "AD1_CP[8]" IOSTANDARD = LVDS_25;
#NET "AD1_CP[9]" IOSTANDARD = LVDS_25;
#NET "AD1_CN[0]" IOSTANDARD = LVDS_25;
#NET "AD1_CN[1]" IOSTANDARD = LVDS_25;
#NET "AD1_CN[2]" IOSTANDARD = LVDS_25;
#NET "AD1_CN[3]" IOSTANDARD = LVDS_25;
#NET "AD1_CN[4]" IOSTANDARD = LVDS_25;
#NET "AD1_CN[5]" IOSTANDARD = LVDS_25;
#NET "AD1_CN[6]" IOSTANDARD = LVDS_25;
#NET "AD1_CN[7]" IOSTANDARD = LVDS_25;
#NET "AD1_CN[8]" IOSTANDARD = LVDS_25;
#NET "AD1_CN[9]" IOSTANDARD = LVDS_25;
#
#NET "AD1_CDR_P" LOC = V30;
#NET "AD1_CDR_N" LOC = W30;
#NET "AD1_COR_P" LOC = P31;
#NET "AD1_COR_N" LOC = P30;
#NET "AD1_CDR_N" IOSTANDARD = LVDS_25;
#NET "AD1_CDR_P" IOSTANDARD = LVDS_25;
#NET "AD1_COR_N" IOSTANDARD = LVDS_25;
#NET "AD1_COR_P" IOSTANDARD = LVDS_25;
#
#NET "AD1_DP[0]" LOC = AB30;
#NET "AD1_DN[0]" LOC = AB31;
#NET "AD1_DP[1]" LOC = Y33;
#NET "AD1_DN[1]" LOC = Y34;
#NET "AD1_DP[2]" LOC = AB32;
#NET "AD1_DN[2]" LOC = AC32;
#NET "AD1_DP[3]" LOC = AA34;
#NET "AD1_DN[3]" LOC = AA33;
#NET "AD1_DP[4]" LOC = AD32;
#NET "AD1_DN[4]" LOC = AE32;
#NET "AD1_DP[5]" LOC = AC33;
#NET "AD1_DN[5]" LOC = AB33;
#NET "AD1_DP[6]" LOC = AE31;
#NET "AD1_DN[6]" LOC = AD31;
#NET "AD1_DP[7]" LOC = AD34;
#NET "AD1_DN[7]" LOC = AC34;
#NET "AD1_DP[8]" LOC = AG31;
#NET "AD1_DN[8]" LOC = AF31;
#NET "AD1_DP[9]" LOC = AE33;
#NET "AD1_DN[9]" LOC = AF33;
#
#NET "AD1_DP[0]" IOSTANDARD = LVDS_25;
#NET "AD1_DP[1]" IOSTANDARD = LVDS_25;
#NET "AD1_DP[2]" IOSTANDARD = LVDS_25;
#NET "AD1_DP[3]" IOSTANDARD = LVDS_25;
#NET "AD1_DP[4]" IOSTANDARD = LVDS_25;
#NET "AD1_DP[5]" IOSTANDARD = LVDS_25;
#NET "AD1_DP[6]" IOSTANDARD = LVDS_25;
#NET "AD1_DP[7]" IOSTANDARD = LVDS_25;
#NET "AD1_DP[8]" IOSTANDARD = LVDS_25;
#NET "AD1_DP[9]" IOSTANDARD = LVDS_25;
#NET "AD1_DN[0]" IOSTANDARD = LVDS_25;
#NET "AD1_DN[1]" IOSTANDARD = LVDS_25;
#NET "AD1_DN[2]" IOSTANDARD = LVDS_25;
#NET "AD1_DN[3]" IOSTANDARD = LVDS_25;
#NET "AD1_DN[4]" IOSTANDARD = LVDS_25;
#NET "AD1_DN[5]" IOSTANDARD = LVDS_25;
#NET "AD1_DN[6]" IOSTANDARD = LVDS_25;
#NET "AD1_DN[7]" IOSTANDARD = LVDS_25;
#NET "AD1_DN[8]" IOSTANDARD = LVDS_25;
#NET "AD1_DN[9]" IOSTANDARD = LVDS_25;
#
#NET "AD1_DOR_P" LOC = AE34;
#NET "AD1_DOR_N" LOC = AF34;
#NET "AD1_DDR_P" LOC = V34;
#NET "AD1_DDR_N" LOC = W34;
#NET "AD1_DOR_P" IOSTANDARD = LVDS_25;
#NET "AD1_DOR_N" IOSTANDARD = LVDS_25;
#NET "AD1_DDR_N" IOSTANDARD = LVDS_25;
#NET "AD1_DDR_P" IOSTANDARD = LVDS_25;
#
##AD9525
#
#NET "FPGA_CLK_P" LOC = K24;
#NET "FPGA_CLK_N" LOC = K23;
#NET "AD9525_SPI_SCLK" LOC = L29;
#NET "AD9525_SPI_CSn" LOC = K29;
#NET "AD9525_SPI_SDIO" LOC = L28;
#NET "AD9525_SPI_SDO" LOC = M28;
#NET "AD9525_RESETn" LOC = N29;
#NET "AD9525_PDn" LOC = P29;
#
#
#NET "FPGA_CLK_P" IOSTANDARD = LVPECL_25;
#NET "FPGA_CLK_N" IOSTANDARD = LVPECL_25;
#NET "AD9525_PDn" IOSTANDARD = LVCMOS25;
#NET "AD9525_PDn" DRIVE = 12;
#NET "AD9525_PDn" SLEW = SLOW;
#NET "AD9525_SPI_CSn" IOSTANDARD = LVCMOS25;
#NET "AD9525_SPI_CSn" DRIVE = 12;
#NET "AD9525_SPI_CSn" SLEW = SLOW;
#NET "AD9525_RESETn" IOSTANDARD = LVCMOS25;
#NET "AD9525_RESETn" DRIVE = 12;
#NET "AD9525_RESETn" SLEW = SLOW;
#NET "AD9525_SPI_SCLK" IOSTANDARD = LVCMOS25;
#NET "AD9525_SPI_SCLK" DRIVE = 12;
#NET "AD9525_SPI_SCLK" SLEW = SLOW;
#NET "AD9525_SPI_SDIO" IOSTANDARD = LVCMOS25;
#NET "AD9525_SPI_SDIO" DRIVE = 12;
#NET "AD9525_SPI_SDIO" SLEW = SLOW;
#NET "AD9525_SPI_SDO" IOSTANDARD = LVCMOS25;
#NET "AD9525_SPI_SDO" DRIVE = 12;
#NET "AD9525_SPI_SDO" SLEW = SLOW;
#
## MAX3222
#
#NET "FPGA_RS232_IN_1" LOC = AP29;
#NET "FPGA_RS323_OUT_1" LOC = AP27;
#
#NET "FPGA_RS232_IN_2" LOC = AP26;
#NET "FPGA_RS232_OUT_2" LOC = AP25;
#
#
#NET "FPGA_RS232_IN_1" IOSTANDARD = LVCMOS25;
#NET "FPGA_RS323_OUT_1" IOSTANDARD = LVCMOS25;
#NET "FPGA_RS323_OUT_1" DRIVE = 12;
#NET "FPGA_RS323_OUT_1" SLEW = SLOW;
##
#
#NET "FPGA_RS232_IN_2" IOSTANDARD = LVCMOS25;
#NET "FPGA_RS232_OUT_2" IOSTANDARD = LVCMOS25;
#NET "FPGA_RS232_OUT_2" DRIVE = 12;
#NET "FPGA_RS232_OUT_2" SLEW = SLOW;
# TEST
#NET "TEST[0]" LOC = AP31;
#NET "TEST[1]" LOC = AP30;
#NET "TEST[2]" LOC = AN30;
#NET "TEST[3]" LOC = AM30;
#NET "TEST[4]" LOC = AN28;
#NET "TEST[5]" LOC = AM28;
#NET "TEST[6]" LOC = AN27;
#NET "TEST[7]" LOC = AM27;
#NET "TEST[8]" LOC = AM26;
#NET "TEST[9]" LOC = AL26;
#NET "TEST[10]" LOC = AN25;
#NET "TEST[11]" LOC = AN24;
#NET "TEST[12]" LOC = AM25;
#NET "TEST[13]" LOC = AL25;
#NET "TEST[14]" LOC = AL29;
#NET "TEST[15]" LOC = AK29;
#NET "TEST[16]" LOC = AL28;
#NET "TEST[17]" LOC = AK28;
#NET "TEST[18]" LOC = AK27;
#NET "TEST[19]" LOC = AJ27;
#NET "TEST[20]" LOC = AH25;
#NET "TEST[21]" LOC = AJ25;
#NET "TEST[22]" LOC = AJ24;
#NET "TEST[23]" LOC = AK24;
#NET "TEST[24]" LOC = AH24;
#NET "TEST[25]" LOC = AH23;
#NET "TEST[26]" LOC = AH28;
#NET "TEST[27]" LOC = AH27;

#NET "TEST[0]" IOSTANDARD = LVCMOS25;
#NET "TEST[0]" DRIVE = 12;
#NET "TEST[0]" SLEW = SLOW;
#NET "TEST[1]" IOSTANDARD = LVCMOS25;
#NET "TEST[1]" DRIVE = 12;
#NET "TEST[1]" SLEW = SLOW;
#NET "TEST[2]" IOSTANDARD = LVCMOS25;
#NET "TEST[2]" DRIVE = 12;
#NET "TEST[2]" SLEW = SLOW;
#NET "TEST[3]" IOSTANDARD = LVCMOS25;
#NET "TEST[3]" DRIVE = 12;
#NET "TEST[3]" SLEW = SLOW;
#NET "TEST[4]" IOSTANDARD = LVCMOS25;
#NET "TEST[4]" DRIVE = 12;
#NET "TEST[4]" SLEW = SLOW;
#NET "TEST[5]" IOSTANDARD = LVCMOS25;
#NET "TEST[5]" DRIVE = 12;
#NET "TEST[5]" SLEW = SLOW;
#NET "TEST[6]" IOSTANDARD = LVCMOS25;
#NET "TEST[6]" DRIVE = 12;
#NET "TEST[6]" SLEW = SLOW;
#NET "TEST[7]" IOSTANDARD = LVCMOS25;
#NET "TEST[7]" DRIVE = 12;
#NET "TEST[7]" SLEW = SLOW;
#NET "TEST[8]" IOSTANDARD = LVCMOS25;
#NET "TEST[8]" DRIVE = 12;
#NET "TEST[8]" SLEW = SLOW;
#NET "TEST[9]" IOSTANDARD = LVCMOS25;
#NET "TEST[9]" DRIVE = 12;
#NET "TEST[9]" SLEW = SLOW;
#NET "TEST[10]" IOSTANDARD = LVCMOS25;
#NET "TEST[10]" DRIVE = 12;
#NET "TEST[10]" SLEW = SLOW;
#NET "TEST[11]" IOSTANDARD = LVCMOS25;
#NET "TEST[11]" DRIVE = 12;
#NET "TEST[11]" SLEW = SLOW;
#NET "TEST[12]" IOSTANDARD = LVCMOS25;
#NET "TEST[12]" DRIVE = 12;
#NET "TEST[12]" SLEW = SLOW;
#NET "TEST[13]" IOSTANDARD = LVCMOS25;
#NET "TEST[13]" DRIVE = 12;
#NET "TEST[13]" SLEW = SLOW;
#NET "TEST[14]" IOSTANDARD = LVCMOS25;
#NET "TEST[14]" DRIVE = 12;
#NET "TEST[14]" SLEW = SLOW;
#NET "TEST[15]" IOSTANDARD = LVCMOS25;
#NET "TEST[15]" DRIVE = 12;
#NET "TEST[15]" SLEW = SLOW;
#NET "TEST[16]" IOSTANDARD = LVCMOS25;
#NET "TEST[16]" DRIVE = 12;
#NET "TEST[16]" SLEW = SLOW;
#NET "TEST[17]" IOSTANDARD = LVCMOS25;
#NET "TEST[17]" DRIVE = 12;
#NET "TEST[17]" SLEW = SLOW;
#NET "TEST[18]" IOSTANDARD = LVCMOS25;
#NET "TEST[18]" DRIVE = 12;
#NET "TEST[18]" SLEW = SLOW;
#NET "TEST[19]" IOSTANDARD = LVCMOS25;
#NET "TEST[19]" DRIVE = 12;
#NET "TEST[19]" SLEW = SLOW;
#NET "TEST[20]" IOSTANDARD = LVCMOS25;
#NET "TEST[20]" DRIVE = 12;
#NET "TEST[20]" SLEW = SLOW;
#NET "TEST[21]" IOSTANDARD = LVCMOS25;
#NET "TEST[21]" DRIVE = 12;
#NET "TEST[21]" SLEW = SLOW;
#NET "TEST[22]" IOSTANDARD = LVCMOS25;
#NET "TEST[22]" DRIVE = 12;
#NET "TEST[22]" SLEW = SLOW;
#NET "TEST[23]" IOSTANDARD = LVCMOS25;
#NET "TEST[23]" DRIVE = 12;
#NET "TEST[23]" SLEW = SLOW;
#NET "TEST[24]" IOSTANDARD = LVCMOS25;
#NET "TEST[24]" DRIVE = 12;
#NET "TEST[24]" SLEW = SLOW;
#NET "TEST[25]" IOSTANDARD = LVCMOS25;
#NET "TEST[25]" DRIVE = 12;
#NET "TEST[25]" SLEW = SLOW;
#NET "TEST[26]" IOSTANDARD = LVCMOS25;
#NET "TEST[26]" DRIVE = 12;
#NET "TEST[26]" SLEW = SLOW;
#NET "TEST[27]" IOSTANDARD = LVCMOS25;
#NET "TEST[27]" DRIVE = 12;
#NET "TEST[27]" SLEW = SLOW;
#Created by Constraints Editor (xc6vlx240t-ff1156-1) - 2013/08/01
NET "CLK_IN_60M" TNM_NET = CLK_IN_60M;
TIMESPEC TS_CLK_IN_60M = PERIOD "CLK_IN_60M" 60 MHz HIGH 50%;
NET "DA_DCO_P" TNM_NET = DA_DCO_P;
TIMESPEC TS_DA_DCO_P = PERIOD "DA_DCO_P" 414.72 MHz HIGH 50%;
NET "DA_DCO_N" TNM_NET = DA_DCO_N;
TIMESPEC TS_DA_DCO_N = PERIOD "DA_DCO_N" 414.72 MHz HIGH 50%;
